<script type="text/javascript">
(function($) {
  "use strict";

  $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
    if (originalOptions.data["__mode"] === "save_filter") {
      var $input = $("#filtered_objects_identifier");
      options.data += "&filtered_objects_identifier=" + encodeURIComponent($input.val());
      jqXHR.success(function(data) {
        if (data && data.error) {
          alert(data.error);
        }
        else {
          $input.val("");
        }
      });
    }
  });
})(jQuery);
</script>
