<mtapp:setting
   id="filtered_objects_identifier"
   label="<__trans phrase="Filter Identifier">"
   label_class="top-label">
  <input type="text" class="text full" id="filtered_objects_identifier" name="filtered_objects_identifier" value="" />
</mtapp:setting>
